<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()+'/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen" />
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen" />

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript"
            src="resources/scripts/jquery-1.3.2.min.js"></script>
    <!-- jQuery Configuration -->
    <script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>
</head>
<body>
<div id="main-content">
    <div class="content-box">
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <table>
                    <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox" /></th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品图片</th>
                        <th>库存</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="good :${goodslist}">
                        <td><input type="checkbox" /></td>
                        <td th:text="${good.gname}">商品名称</td>
                        <td th:text="${good.gprice}">商品价格</td>
                        <td><img style="width: 100px;height: 65px;" th:src="|http://${serverip}/${#strings.setSplit(good.gimage,'|')[0]}|"></td>
                        <td th:text="${good.gsave}">库存</td>
                        <td th:text="${#dates.format(good.createTime,'yyyy-MM-dd')}"></td>
                        <td>
                            <!-- Icons -->
                            <a th:href="|goods/delete?id=${good.id}|" title="Edit">
                                <img src="resources/images/icons/pencil.png" alt="Edit" /></a>
                            <a th:href="|goods/delete?id=${good.id}|" title="Delete">
                                <img src="resources/images/icons/cross.png" alt="Delete" /></a>
                            <a href="#" title="Edit Meta">
                                <img src="resources/images/icons/hammer_screwdriver.png"
                                alt="Edit Meta" /></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <a class="mybutton" href="topage/goodsadd">添加商品</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!-- End #main-content -->
</body>
</html>